*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
color:white;
overflow:hidden;

background:
radial-gradient(circle at top left,
rgba(255,0,0,0.25),
transparent 35%),

radial-gradient(circle at top right,
rgba(255,0,0,0.18),
transparent 40%),

linear-gradient(
180deg,
#040404,
#000000,
#050505
);

font-family:Arial,sans-serif;
}

.container{
display:flex;
height:100vh;
}

.logo-area{
text-align:center;
margin-top:10px;
}

.logo-ademicon{
width:340px;
max-width:90%;
height:auto;
margin-bottom:15px;
filter:brightness(0) invert(1);
}

.left{
width:50%;
padding:20px;
position:relative;
border-right:2px solid rgba(255,0,0,.15);
}

.right{
width:50%;
padding:20px;
}

.logo-area{
text-align:center;
margin-top:20px;
}

.logo-area h1{
color:white;
font-size:50px;
}

.unidade{
color:#ffffff;
font-size:24px;
font-weight:bold;
letter-spacing:4px;
margin-top:5px;
margin-bottom:15px;
text-transform:uppercase;
}

.logo-area h2{
color:#ff0000;
font-size:64px;
font-weight:900;
letter-spacing:2px;
text-transform:uppercase;
}

.podium{
display:flex;
justify-content:center;
align-items:flex-end;
height:75vh;
gap:20px;
}

.winner{
text-align:center;
width:220px;
}

.winner img{
width:210px;
height:210px;
border-radius:50%;
object-fit:cover;
border:5px solid #fff;
}

.first img{
border:6px solid gold;

box-shadow:
0 0 25px gold,
0 0 45px rgba(255,215,0,.6);
}

.second img{
border-color:silver;
}

.third img{
border-color:#cd7f32;
}

.podium-base{
margin-top:15px;
padding:20px;
border-radius:10px;
font-weight:bold;
}

.first .podium-base{
background:gold;
color:black;
height:220px;
}

.second .podium-base{
background:silver;
color:black;
height:170px;
}

.third .podium-base{
background:#cd7f32;
height:140px;
}

table{
width:100%;
border-collapse:collapse;

border:2px solid #ff0000;

box-shadow:
0 0 15px rgba(255,0,0,.4);

background:#060606;
}

th{
background:#ff0000;

padding:18px;

font-size:24px;

font-weight:900;

text-transform:uppercase;
}

td{
padding:18px;

border:1px solid rgba(255,0,0,.5);

font-size:22px;

font-weight:600;
}

tr:nth-child(even){
background:#111;
}

.top-title{
text-align:center;
font-size:58px;
font-weight:900;
color:#ff0000;

text-shadow:
0 0 8px #ff0000,
0 0 20px #ff0000;

margin-bottom:20px;
}
